
<!-- Header + Links styles -->

a{
      background-color: #111;
      color: white;
      padding: 20px;
      text-align: center;
    }

a:link{
     color: white;
    }

a:visited{
      color:white;
      }

    header {
      background-color: #111;
      color: white;
      padding: 20px;
      text-align: center;
    }

<!-- End of Header + Link styles -->

    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    .index-base {
      max-width: 800px;
      margin: 30px auto;
      background: white;
      padding: 25px;
      border-radius: 8px;
    }

    section {
      margin-bottom: 25px;
    }

    label {
      display: block;
      margin-bottom: 6px;
      font-weight: bold;
    }

    input, textarea, select, button {
      width: 600%;
      padding: 10px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    button {
      background-color: #111;
      color: white;
      border: none;
      cursor: pointer;
    }

    button:hover {
      background-color: #333;
    }

    footer {
      text-align: center;
      padding: 15px;
      color: #777;
    }

<!-- about page styles -->
.about-box
{
 max-width: 800px;
      margin: 30px auto;
      background: gray;
      padding: 25px;
      border-radius: 8px;
    align-self: center;
    align-items: center;    
justify-content: center;
}

/* making the boxes uniform (i used this on my copy of the css) */
textarea, 
select, 
input[type="text"], 
input[type="number"] {
    width: 100%;
    box-sizing: border-box; /* This apparently makes it uniform */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 16px;
    resize: vertical;
    min-height: 35px
}
